@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 3rem;
  padding-bottom: 1.6rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.75rem;
}
p {
  font-size: 1rem;
  color: hsl(229, 8%, 60%);
}
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-family: "Rubik", sans-serif;
}
.container {
  width: min(1200px, 90%);
  margin: 0 auto;
}

button {
  padding: 0.7rem 1rem;
  background-color: hsl(231, 69%, 60%);
  border: 1.2px solid transparent;
  color: white;
  border-radius: 100px;
}
button:hover {
  background-color: transparent;
  cursor: pointer;
  border: 1.2px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}
button:active {
  background-color: white;
  color: black;
}

nav {
  padding: 0.4rem 0;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.953);
  box-shadow: 0 1px 8px 0.2px rgba(0, 0, 0, 0.125);
  z-index: 9999;
}
nav .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: stretch;
}
.btnmenu,
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}
.btnmenu div {
  height: 2rem;
  width: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnmenu div span {
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: black;
  border-radius: 100px;
  transition: 200ms;
}
.btnmenu div span:first-child {
  transform: translateY(-8px);
}
.btnmenu div span:last-child {
  transform: translateY(8px);
}
.btnmenu.active div span:first-child {
  transform: translateY(0) rotate(45deg);
}
.btnmenu.active div span:last-child {
  transform: translateY(0) rotate(315deg);
}
.btnmenu.active div span:nth-child(2) {
  transform: scale(0);
}

@media (min-width: 576px) {
  .btnmenu {
    display: none;
  }
}
.menu {
  display: flex;
}
.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
.menu a:hover {
  color: hsl(0, 94%, 66%);
}
.menu a:nth-child(5) {
  border: 1px solid hsl(0, 94%, 66%);
  border-radius: 100px;
  color: hsl(0, 94%, 66%);
}
.menu a:nth-child(5):hover {
  background-color: hsl(0, 94%, 66%);
  color: white;
}
.menu hr {
  display: none;
}
.menu .social-icon {
  display: none;
}

@media (max-width: 576px) {
  .menu {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    padding: 42px 0 1rem 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.850);
    backdrop-filter: blur(10px);
    transition: 200ms;
  }
  .menu a {
    width: 80%;
  }
  .menu hr {
    display: block;
    margin: 1rem 0;
    width: 80%;
  }
  .menu .social-icon {
    display: flex;
    margin-top: auto;
    color: hsl(231, 69%, 60%);
  }
  .menu .social-icon i:nth-child(1){
    margin-right: 1rem;
  }
  .menu.active {
    width: 100%;
    padding: 42px 0 1rem 0;
  }
}

aside {
  display: flex;
}
aside img {
  width: 100%;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  padding: 3rem 0;
  gap: 10%;
}
.hero article p {
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .hero .container {
    grid-template-columns: 1fr;
    padding: 1rem 0;
    gap: 1rem;
  }
  .hero aside {
    grid-row-start: 1;
  }
  .hero article {
    align-items: center;
    text-align: center;
  }
  .hero article div {
    display: grid;
    gap: 0.3rem;
    width: 85%;
  }
}

.features header {
  width: min(576px, 100%);
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}
.tabs-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.tabs-menu a {
  padding: 0.6rem 1rem;
  position: relative;
  cursor: pointer;
}
.tabs-menu a:nth-child(2) {
  margin-inline: 1rem;
}
.tabs-menu a:hover,
.tabs-menu a.active {
  color: hsl(0, 94%, 66%);
}
.tabs-menu a.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: hsl(0, 94%, 66%);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.tabs {
  padding: 2.3rem 0;
}
.tabs > div {
  display: none;
  grid-template-columns: 4fr 4fr;
  gap: 10%;
  padding: 1rem 0;
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tabs > div.active {
  display: grid;
}
.tabs article {
  align-items: flex-start;
}
.tabs article p {
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .tabs > div {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .tabs article {
    text-align: center;
    align-items: center;
    padding-top: 2.6rem;
  }
}

.pricing {
  padding: 2rem 0;
}
.pricing header {
  width: min(576px, 100%);
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}
.cards-panel {
  width: min(768px, 100%);
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cards-panel > div {
  margin: 1rem 0;
}
.card {
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}
.card img {
  margin: 1rem 0;
}
.card hr {
  width: 100%;
  margin: 1rem 0;
  border-top: 3px dotted rgba(0, 0, 0, 0.651);
}
.card h4,
.card p,
.card button {
  white-space: nowrap;
}

.faq .container {
  width: min(576px, 90%);
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.6rem;
}
.faq header {
  text-align: center;
  padding: 3rem 0;
}
.accordion {
  margin-bottom: 2.3rem;
}
.accordion > div {
  border-top: 1px solid rgba(0, 0, 0, 0.456);
  padding: 1rem 0 0 0;
}
.accordion > div:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.456);
}
.accordion h4 {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.accordion h4 i {
  margin: 0 1rem 0 auto;
  color: rgba(0, 0, 0, 0.555);
  transition: 200ms;
}
.accordion h4 i:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.accordion p {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0;
  transition: 200ms;
}
.accordion > div.active p {
  margin-bottom: 1rem;
  max-height: 20rem;
}
.accordion > div.active i {
  transform: rotate(180deg);
}

.contact {
  background-color: hsl(231, 69%, 60%);
  color: white;
}
.contact .container {
  padding: 3.2rem 0;
  width: min(576px, 90%);
  text-align: center;
}
.contact h1 {
  margin: 1rem 0;
}
.contact .form {
  display: flex;
  justify-content: center;
}
.contact .form input {
  border-radius: 100px;
  padding: 0 1rem;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.25);
  margin-right: 0.4rem;
  color: white;
}
.contact .form input::placeholder {
  color: rgba(255, 255, 255, 0.25);
} 
.contact .form input:focus {
  outline: none;
  border: 2px solid white;
}
.contact .form button {
  background-color: hsl(0, 94%, 66%);
}
.contact .form button:hover {
  background-color: transparent;
  color: hsl(0, 94%, 66%);
  border: 1.2px solid hsl(0, 94%, 66%);
}
.contact .form button:active {
  background-color: white;
  color: black;
}

@media (max-width:576px) {
  .contact .form {
    flex-direction: column;
  }
  .contact .form input {
    padding: .68rem 1rem;
    margin: .5rem 0;
  }
}

footer {
  background-color: hsl(229, 31%, 21%);
}
footer .container {
  display: flex;
  padding: 2rem 0;
  color: white;
}
.footer-menu {
  margin-right: auto;
  margin-left: 1rem;
  display: flex;
}
.footer-menu a {
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
footer .social i:hover,
.footer-menu a:hover {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}
footer .social i:first-child {
  margin-right: 1rem;
}
@media (max-width: 576px) {
  footer .container {
    flex-direction: column;
  }
  .footer-menu,
  footer .logo,
  footer .social {
    margin: 0 auto;
  }
  .footer-menu {
    flex-direction: column;
    margin: 1.2rem auto;
  }
}
